# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On

# Réécriture des actions 
RewriteRule ^([a-z0-9\-]+)-([0-9]+)$ /index.php?action=$1&id=$2
RewriteRule ^([a-z0-9\-]+)$ /index.php?action=$1 [L]