# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On

# Réécriture de index.html vers index.php 
RewriteRule ^index\.html$ /index.php
# Réécriture des actions 
RewriteRule ^([a-z0-9\-]+)$ /index.php?action=$1 [L]