body {
	font-family: 'Open Sans', sans-serif;
	background-color: aliceblue;
}

/* SIDEBAR */

.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	width: 324px;
	height: 100vh;
	background-color: #363636;
	overflow: hidden;
	border-right: 1px solid #363636;
}

.sidebar .nav-header{
	background-color: aliceblue;
}

.side-navbar {
	width: 104%;
	overflow-y: hidden;
	position: relative;
}

.sidebar .nav-item {
	padding: 10px 0;
	color: rgb(255, 255, 255);
	text-decoration: none;
	display: flex;
	float: left;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sidebar .nav-item:hover, .sidebar .nav-item.selected {
	background-color: rgb(255, 255, 255);
	color: #363636;
}

.sidebar .nav-item span {
	font-size: 1em;
	font-weight: bold;
}

.sidebar .nav-item .icon {
	font-size: 2.5em;
	margin: 0 20px;
}

/* CONTENT */

.body {
	margin-left: 324px;
}

.content {
	padding: 50px;
}

/* FOOTER */

footer {
	background-color: rgb(2, 2, 36);
}


@media (max-height: 700px) {
	.side-navbar {
		overflow-y: scroll;
	}
}