body {
	font-family: 'Open Sans', sans-serif;
}

.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 324px;
	height: 100vh;
	background-color: #f0f4f7;
	border-right: 1px solid #c8d2dc;
	flex-wrap: nowrap;
	overflow: hidden;
}

.side-navbar {
	width: 104%;
	overflow-y: hidden;
	position: relative;
}

.sidebar .nav-item {
	padding: 20px 0;
	color: rgb(4, 0, 26);
	text-decoration: none;
	display: flex;
	float: left;
	width: 100%;
	position: relative;
}

.sidebar .nav-item:hover {
	background-color: rgb(157, 209, 255);
}

.sidebar .nav-item span {
	font-size: 1.5em;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(0%,-50%);
}

.sidebar .nav-item .icon {
	font-size: 3em;
	margin: 0 20px;
}

.vertical-center {

}

.body {
	margin-left: 324px;
}

.content {
	padding: 50px;
}

footer {
	background-color: rgb(2, 2, 36);
}


@media (max-height: 700px) {
	.side-navbar {
		overflow-y: scroll;
	}
}