# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On
RewriteRule ^([a-z\-]+)/([a-z\-]+)-([0-9]+)$ /admin/index.php?page=$1&action=$2&id=$3
RewriteRule ^([a-z\-]+)/([a-z\-]+)$ /admin/index.php?page=$1&action=$2
RewriteRule ^([a-z\-]+)$ /admin/index.php?page=$1 [L]
